# EDA 1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

## 1. What is the average price of all cars in the dataset?

In [ ]:
average = df['Price'].mean()
print('The average price of all cars in the dataset is $',average)

The average price of all cars in the dataset is $ 8852.9644

##2. Which car brand has the highest average price?

In [ ]:
avg_prices = df.groupby('Brand')['Price'].mean().idxmax()
print(f'\n"{avg_prices}" car brand has the highest average price')

"Chevrolet" car brand has the highest average price

## 3. What is the most common fuel type in the dataset?

In [ ]:
a = df['Fuel_Type'].mode()[0]
print(f'The most common fuel type is {a}')

The most common fuel type is Electric

## 4. How many cars have a mileage greater than 200,000?

In [ ]:
df[df["Mileage"] > 200000].shape[0]

3290

## 5. What is the distribution of cars by transmission type?

In [ ]:
dist = df['Transmission'].value_counts()
print('The Distribution of cars by transmission type is',dist)

The Distribution of cars by transmission type is Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

## 6. Which car model has the highest price?

In [ ]:
H_car = df[df['Price'] == df['Price'].max()]
print(H_car[['Brand','Model','Price']])

       Brand    Model  Price
1100  Toyota  Corolla  18301

## 7. What is the average price of cars by fuel type?

In [ ]:
avg_price = df.groupby("Fuel_Type")['Price'].mean()
print(f"The average price of each fuel type is \n{avg_price}")

The average price of each fuel type is
Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

## 8. How many cars are from the year 2020 or later?

In [ ]:
c = len(df[df['Year'] >= 2020])
print(f'The number of cars are from the year 2020 or later is {c}')

The number of cars are from the year 2020 or later is 1651

## 9. What is the average engine size for each brand?

In [ ]:
eg = df.groupby('Brand')['Engine_Size'].mean()
print(f'The average engine size for each brand is\n{eg}')

The average engine size for each brand is
Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

## 10. Which car has the lowest mileage?

In [ ]:
df[df['Mileage'] == df['Mileage'].min()]

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
6824,Ford,Explorer,2006,1.6,Electric,Semi-Automatic,25,3,2,9499

## 11. What is the correlation between mileage and price?

In [ ]:
df['Mileage'].corr(df['Price'])

-0.5512271827629014

## 12. How many cars have more than 2 owners?

In [ ]:
car_owner = df[df['Owner_Count'] > 2].shape[0]
print(f'The number of cars have more than 2 owners is : {car_owner}')

The number of cars have more than 2 owners is : 5944

## 13. What is the average price of cars by year?

In [ ]:
s = df.groupby("Year")['Price'].mean()
print(f'The average price of cars by year is : \n{s}')

The average price of cars by year is :
Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

## 14. Which car has the highest number of doors?

In [ ]:
df[df["Doors"] == df["Doors"].max()][["Brand", "Model", "Doors"]]

           Brand     Model  Doors
14    Volkswagen      Golf      5
16       Hyundai   Elantra      5
22        Toyota      RAV4      5
26          Audi        A3      5
27           BMW  3 Series      5
...          ...       ...    ...
9978    Mercedes   E-Class      5
9979    Mercedes   C-Class      5
9983    Mercedes   E-Class      5
9991    Mercedes   E-Class      5
9997         BMW  3 Series      5

[2456 rows x 3 columns]

## 15. What is the average mileage for each fuel type?

In [ ]:
f= df.groupby('Fuel_Type')['Mileage'].mean()
print(f'The average mileage for each fuel type is :\n{f}')

The average mileage for each fuel type is :
Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

## 16. How many cars are from the brand 'Toyota'?

In [ ]:
n = df[df['Brand']=="Toyota"].shape[0]
print(f'The number of cars from toyota is : {n}')

The number of cars from toyota is : 970

## 17. What is the average price of cars with automatic transmission?

In [ ]:
T = df[df['Transmission'] == 'Automatic']['Price'].mean()
print(f'The average price of cars with automatic transmission is :\n{T}')

The average price of cars with automatic transmission is :
9938.252939403075

## 18. Which car has the highest owner count?

In [ ]:
df[df['Owner_Count'] == df['Owner_Count'].max()][['Brand','Owner_Count']]

          Brand  Owner_Count
0           Kia            5
9        Toyota            5
30      Hyundai            5
33     Mercedes            5
35          Kia            5
...         ...          ...
9952   Mercedes            5
9955        BMW            5
9964    Hyundai            5
9969  Chevrolet            5
9992        BMW            5

[2036 rows x 2 columns]

## 19. What is the average engine size for cars with diesel fuel type?

In [ ]:
l = df[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f'The average engine size for cars with diesel fuel type is :\n{l}')

The average engine size for cars with diesel fuel type is :
3.011863057324841

## 20. How many cars have a price greater than $10,000?

In [ ]:
P = df[df['Price'] >10000].shape[0]
print(f'The number of cars have a price greater than $10,000 is {P}')

The number of cars have a price greater than $10,000 is 3651